.container {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;

    width: 60vw;
    height: 60vh;

    padding: 5vw;

    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;

    img {
        width: 50vw;
        height: auto;
        align-self: center;
    }

    h1{
        margin-top: 2vh;
        align-self: center;
    }
}